In [33]:
import json 

python_dict = {
    "이름" : "홍길동",
    "나이" : 25, 
    "거주지" : "서울",
    "신체정보" : {
        "키" : 175,
        "몸무게" : 71.2
    },
    "취미": [ "등산", "자전거타기", "독서"]
}

In [34]:
print(type(python_dict))

<class 'dict'>

In [35]:
json_data = json.dumps(python_dict)

In [36]:
type(json_data)

str

In [37]:
print(json_data)

{"\uc774\ub984": "\ud64d\uae38\ub3d9", "\ub098\uc774": 25, "\uac70\uc8fc\uc9c0": "\uc11c\uc6b8", "\uc2e0\uccb4\uc815\ubcf4": {"\ud0a4": 175, "\ubab8\ubb34\uac8c": 71.2}, "\ucde8\ubbf8": ["\ub4f1\uc0b0", "\uc790\uc804\uac70\ud0c0\uae30", "\ub3c5\uc11c"]}

In [38]:
json_data = json.dumps(python_dict, indent= 4, sort_keys= True, ensure_ascii=False)

In [39]:
json_data["이름"]

TypeError: string indices must be integers

In [40]:
print(json_data)

{
    "거주지": "서울",
    "나이": 25,
    "신체정보": {
        "몸무게": 71.2,
        "키": 175
    },
    "이름": "홍길동",
    "취미": [
        "등산",
        "자전거타기",
        "독서"
    ]
}

In [41]:
type(python_dict)

dict

In [42]:
print(python_dict)

{'이름': '홍길동', '나이': 25, '거주지': '서울', '신체정보': {'키': 175, '몸무게': 71.2}, '취미': ['등산', '자전거타기', '독서']}

In [43]:
dict_data = json.loads(json_data) # JSON 데이터를 파이썬의 딕셔너리 타입으로 변환
type(dict_data)

dict

In [15]:
dict_data["이름"] # Key 값으로 검색

'홍길동'

In [23]:
dict_data['신체정보']['몸무게']  #  Key로 검색 가능

71.2

In [25]:
dict_data['신체정보']['키']

175

In [18]:
dict_data['취미']

['등산', '자전거타기', ' 독서']

In [19]:
dict_data['취미'][0]

'등산'

In [26]:
#'취미'의 값은 리스트 
dict_data['취미']  # ['등산', '자전거타기', ' 독서']

['등산', '자전거타기', ' 독서']

In [27]:
dict_data['취미'][0]
dict_data['취미'][1]
dict_data['취미'][2]

' 독서'

In [32]:
for item in dict_data['취미']:
    print(item)

등산
자전거타기
 독서

In [47]:
people = {
    "이름": "홍길동",
    "나이": 30,
    "결혼여부": False,
    "자녀": 
    [    
            { 
                "이름": "홍길순",
                "나이": 5 
            },
        
            {
                "이름": "홍길철",
                "나이": 7
            }
    ],
    취미": ["독서", "영화", "운동"]
}

In [48]:
type (people)

dict

In [44]:
# ## 8.2 API 키 없이 시간 관련 데이터 가져오기 

# ### 8.2.1 시간대 리스트와 현재 시각 데이터 가져오기

# [8장: 345페이지]

In [45]:
import requests
import json`

In [52]:
url = "https://timeapi.io/api/TimeZone/AvailableTimeZones"

r = requests.get(url)
rt = r.text 
print(rt[:70])
print(type(rt))

["Africa/Abidjan","Africa/Accra","Africa/Addis_Ababa","Africa/Algiers"
<class 'str'>

In [65]:
url2 = "https://timeapi.io/api/Time/current/zone?timeZone=Asia/Seoul"

r2 = requests.get(url2)
print("r2 : ", type(r2))
rt = r2.text 
print("rt : ", type (rt))
print(rt)

r2 :  <class 'requests.models.Response'>
rt :  <class 'str'>
{"year":2023,"month":9,"day":14,"hour":11,"minute":11,"seconds":3,"milliSeconds":933,"dateTime":"2023-09-14T11:11:03.9338093","date":"09/14/2023","time":"11:11","timeZone":"Asia/Seoul","dayOfWeek":"Thursday","dstActive":false}

In [59]:
url = "https://timeapi.io/api/Time/current/zone"
#요청 매개변수 생성 : dict 
parameters = {"timeZone" : "Asia/Seoul"}

r = requests.get(seoul, params= parameters)
print(r.text)

{"year":2023,"month":9,"day":14,"hour":10,"minute":56,"seconds":56,"milliSeconds":276,"dateTime":"2023-09-14T10:56:56.2761183","date":"09/14/2023","time":"10:56","timeZone":"Asia/Seoul","dayOfWeek":"Thursday","dstActive":false}

In [60]:
type(r.text) # return value : str , format

str

In [73]:
url = "https://timeapi.io/api/Time/current/zone" # 요청 주소

city = "Asia/Seoul"

parameters = {"timeZone": city }           # 요청 매개 변수 생성

r = requests.get(url, params=parameters)

In [74]:
json_to_dict = json.loads(r.text)
type (json_to_dict)

dict

In [75]:
print(json_to_dict)

{'year': 2023, 'month': 9, 'day': 14, 'hour': 11, 'minute': 40, 'seconds': 44, 'milliSeconds': 351, 'dateTime': '2023-09-14T11:40:44.3516322', 'date': '09/14/2023', 'time': '11:40', 'timeZone': 'Asia/Seoul', 'dayOfWeek': 'Thursday', 'dstActive': False}

In [76]:
print("year : " , json_to_dict['year'])
print("month : " , json_to_dict['year'])
print("hour : " , json_to_dict['year'])

year :  2023
month :  2023
hour :  2023

In [78]:
import requests
import json

url = "https://timeapi.io/api/Time/current/zone?timeZone=Asia/Seoul"

date_time_dict = requests.get(url).json() #
type(date_time_dict)

dict

In [80]:
print('년도 : ', requests.get(url2).json()['year'])
#이런식도 가능하다

년도 :  2023

# file 03

In [113]:
import requests
import json

url = 'https://timeapi.io/api/Conversion/ConvertTimeZone' # 요청 주소

from_time_zone = "Asia/Seoul"
from_date_time = "2022-10-03 10:03:00"
to_time_zone = "UTC" # GMT로 지정해도 결과는 동일

headers = {"Content-Type": "application/json"}

json_data = json.dumps({"fromTimeZone": from_time_zone,
                        "dateTime": from_date_time,
                        "toTimeZone": to_time_zone})

In [114]:
r = requests.post(url,headers=headers, data= json_data)

In [115]:
ctz_j2d = r.json()

In [116]:
print(type(ctz_j2d))

<class 'dict'>

In [117]:
ctz_j2d

{'type': 'https://tools.ietf.org/html/rfc7231#section-6.5.1',
 'title': 'One or more validation errors occurred.',
 'status': 400,
 'traceId': '00-d53be4eae008fbee1d10052620dfd6c5-49953b3a79e51921-00',
 'errors': {'DstAmbiguity': ['The DstAmbiguity field is required.']}}

error code : 400 -> Bad Request

In [111]:
# get 방식 
"""

import requests
import json

url = 'https://timeapi.io/api/Conversion/ConvertTimeZone' # 요청 주소

from_time_zone = "Asia/Seoul"
from_date_time = "2022-10-03 10:03:00"
to_time_zone = "GMT" # GMT로 지정해도 결과는 동일

headers = {"Content-Type": "text/html"}

dict_data = {"fromTimeZone": from_time_zone,
            "dateTime": from_date_time,
            "toTimeZone": to_time_zone}

r = requests.get(url,headers = headers, params= dict_data)
print(r.text)


"""

In [112]:
print(r)

<Response [405]>

In [118]:
rss_simple_document = """<?xml version="1.0" encoding="UTF-8" ?>
<rss version="2.0">

<channel>
  <title>파이썬 웹 스크레이핑 홈페이지</title>
  <link>https://www.python_web_scraping.com</link>
  <description>파이썬 웹 스크레이핑 설명</description>
  <pubDate>Sat, 30 Apr 2022 15:39:19 GMT</pubDate>
  <lastBuildDate>Sat, 30 Apr 2022 17:50:21 GMT</lastBuildDate>
  <item>
    <title>1장. 웹 스크레이핑</title>
    <link>https://www.python_web_scraping.com/web_scraping.html</link>
    <description>웹 스크레이핑 기본에 관한 교육</description>
    <pubDate>Sat, 30 Apr 2022 00:30:00 GMT</pubDate>
  </item>
  <item>
    <title>2장. 웹 API 교육</title>
    <link>https://www.python_web_scraping.com/web_api.html</link>
    <description>웹 API에 관한 교육</description>
    <pubDate>Sat, 30 Apr 2022 09:45:12 GMT</pubDate>
  </item>
</channel>

</rss>"""

In [119]:
import feedparser 

d = feedparser.parse(rss_simple_document)

8.3.2 구글 뉴스의 검색 기사 가져오기