In [1]:
import pandas as pd 
import numpy as np

In [2]:
csv_file = './A_product_sales.csv'

In [3]:
print(csv_file)

./A_product_sales.csv

In [4]:
type (csv_file)

str

In [7]:
df = pd.read_csv(csv_file, encoding = "utf-8")

In [8]:
print(df)

     연도   1분기   2분기   3분기   4분기
0  2016  2412  4032  5183  1139
1  2017  2725  4986  6015  1242
2  2018  2925  5286  6497  1596
3  2019  2691  5813  7202  1358
4  2020  2523  6137  7497  1512

In [9]:
df[:]

     연도   1분기   2분기   3분기   4분기
0  2016  2412  4032  5183  1139
1  2017  2725  4986  6015  1242
2  2018  2925  5286  6497  1596
3  2019  2691  5813  7202  1358
4  2020  2523  6137  7497  1512

In [13]:
ex = df["1분기"]

In [30]:
df["1분기"][:]

0    2412
1    2725
2    2925
3    2691
4    2523
Name: 1분기, dtype: int64

In [31]:
#Excel file Reading

excel_file = "./CES마켓_주문내역.xlsx"

In [32]:
df = pd.read_excel(excel_file)

In [33]:
print(df)

     주문번호 주문지역       주문일자  제품유형        고객ID 고객등급
0  351291   서울 2022-07-04    의류  EeNMuRpdzG    A
1  351292   경기 2022-07-05   컴퓨터  H7o4KJizTE    B
2  351293   강원 2022-07-06   식료품  OEA4cDdkyg    A
3  351294   호남 2022-07-07  주방제품  GGe6nkrlnV    C
4  351295   영남 2022-07-08    여행    jTrJPdZA    B
5  351296   충청 2022-07-09    도서   Fjs00aZuo    C

In [34]:
df = pd.read_excel(excel_file,index_col='주문번호')

In [35]:
print (df)

       주문지역       주문일자  제품유형        고객ID 고객등급
주문번호
351291   서울 2022-07-04    의류  EeNMuRpdzG    A
351292   경기 2022-07-05   컴퓨터  H7o4KJizTE    B
351293   강원 2022-07-06   식료품  OEA4cDdkyg    A
351294   호남 2022-07-07  주방제품  GGe6nkrlnV    C
351295   영남 2022-07-08    여행    jTrJPdZA    B
351296   충청 2022-07-09    도서   Fjs00aZuo    C

In [36]:

index_data = ['a','b','c','d','e']
data = [0.0,1.0,2.0,3.0,4.0]
s1 = pd.Series(data,index = index_data)

In [37]:
print(s1)

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [38]:
s1.loc['a']

0.0

In [40]:
r = s1.loc[['a','c','e']]

In [42]:
print(r[2])

4.0

In [44]:
s1.loc[[1:2]]

SyntaxError: invalid syntax (1049753109.py, line 1)

In [47]:
s1.iloc[2:4]

c    2.0
d    3.0
dtype: float64

In [48]:
s1

a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64

In [57]:
dict_data = {'Col_A': [0,10,20,30,40,50],"Col_B":[0.1,0.3,0.5,0.6,0.7,0.8], "Col_C":[0,100,200,300,400,500]}

In [59]:
index_data = ['row_a','row_b','row_c','row_d','row_e','row_f']

In [60]:
df1 = pd.DataFrame(dict_data, index = index_data)

In [61]:
print(df1)

       Col_A  Col_B  Col_C
row_a      0    0.1      0
row_b     10    0.3    100
row_c     20    0.5    200
row_d     30    0.6    300
row_e     40    0.7    400
row_f     50    0.8    500

In [63]:
df1.loc['row_a']

Col_A    0.0
Col_B    0.1
Col_C    0.0
Name: row_a, dtype: float64

In [65]:
r = df1["Col_B"]

In [85]:
print(df1.loc[["row_a","row_c"]])

       Col_A  Col_B  Col_C
row_a      0    0.1      0
row_c     20    0.5    200

In [92]:
df1[(df1>0.5) & (df1<1)]

       Col_A  Col_B  Col_C
row_a    NaN    NaN    NaN
row_b    NaN    NaN    NaN
row_c    NaN    NaN    NaN
row_d    NaN    0.6    NaN
row_e    NaN    0.7    NaN
row_f    NaN    0.8    NaN

In [93]:
# DataFrame 데이터 생성
dict_data = {'지점': ['서울', '대전', '대구', '부산', '광주'],
             '1월': [558, 234, 340, 380, 213],
             '2월': [437, 216, 238, 290, 194], 
             '3월': [337, 196, 209, 272, 186]} # 딕셔너리 데이터

df = pd.DataFrame(dict_data) # 딕셔너리 데이터로부터 DataFrame 데이터 생성
df

   지점   1월   2월   3월
0  서울  558  437  337
1  대전  234  216  196
2  대구  340  238  209
3  부산  380  290  272
4  광주  213  194  186

In [94]:
s= pd.Series(range(-3,0))